#recipe {
margin: 0 auto;
width: 90%;
min-height: 500px;

  #show-post {
    font-family: 'Gloria Hallelujah', cursive;
    #post-dish-name {
      font-size: 2.1em;
      padding-top: 1.1em;
      line-height: 1em;
      font-weight: bold;
      margin-bottom: 0;
    }
    ul{
      margin: 0;
      p {
        font-weight: bold;
        font-size: 1.1em;
        margin: 0.9em 0 0 0;
        line-height: 1em;
      }
      li {
        margin-top: 1em;
        font-size: 1.05em;
        line-height: 1.1em;

      }
    }
  }
}
