<div *ngIf="post" id="recipe">
  <div id="show-post">
    <p id="post-dish-name">{{post.dishName}}</p>
    <ul id="post-ingredients">
      <p>Ingredients</p>
      <li *ngFor="let ingredient of post.ingredients"
        class="post-ingredient">
        {{ingredient.amount}} - {{ingredient.ingredient}} 
      </li>
    </ul>
    <ul id="post-directions">
      <p>Directions</p>
      <li *ngFor="let direction of post.directions"
        class="post-direction">
        {{direction}}
      </li>
    </ul>
  </div>
</div>
