<div *ngIf="post" class="post">

    <button type="button" >Edit</button>
    <div class="show-post">
    <h3>{{post.dishName}}</h3>
    <ul class="post-ingredients">
      <h4>Ingredients</h4>
      <li *ngFor="let ingredient of post.ingredients"
        class="post-ingredient">
        {{ingredient.ingredient}} - {{ingredient.amount}}
      </li>
    </ul>
    <ul class="post-directions">
      <h4>Directions</h4>
      <li *ngFor="let direction of post.directions"
        class="post-direction">
        {{direction}}
      </li>
    </ul>
  </div>
  <div class="update-post">


  </div>

</div>
