<header>
  <div id="login-buttons">
    <button
      *ngIf="!auth.loggedIn"
      class="login-button"
      (click)="auth.login()">
      Log In
    </button>
    <div *ngIf="auth.loggedIn" id="profile">
      <div
        *ngIf="auth.userProfile$ | async as profile"
        id="profile">
        <img
          *ngIf="profile.picture"
          [src]="profile.picture"
          alt="Auth0 Picture">
        <h2 *ngIf="profile.name">{{profile.name}}</h2>
      </div>

      <button
        class="login-button"
        (click)="auth.logout()" >
        Log Out
      </button>
    </div>
  </div>
  <div id="router-links">
    <a routerLink="/home" routerLinkActive="active">Home</a>&nbsp;
    <a routerLink="posts" routerLinkActive="active">Posts</a>
  </div>
</header>
