<div class="add-post">
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <label>
      <p id="dish-name-label">Dish Name:</p>
      <div *ngIf="dishName.invalid && (dishName.dirty || dishName.touched)"
        class="alert alert-danger">
        <div *ngIf="dishName.errors.required || dishName.errors.minlength">
          Name of Dish must contain at least 1 characters.
        </div>
        <div *ngIf="dishName.errors.maxlength">
          Name of Dish must not be greater than 25 characters.
        </div>
      </div>
      <input (blur)="dishName.setValue(dishName.value.trim());"
        id="dish-name-input" type="text"
        formControlName="dishName" required>
    </label>
        <div formArrayName="ingredients">
          <h4>Ingredients</h4>
          <div id="ingredients">
            <div class="ingredient"
              *ngFor="let ing of ingredients.controls; let i=index">
              <div [formGroupName]="i">
                <button class="delete-item" type="button" (click)="deleteIngredient(i)">X</button>
                <div class="post-ingredient">
                  <div *ngIf="ingredient(i).invalid && (ingredient(i).dirty || ingredient(i).touched)"
                      class="alert alert-danger">
                    <div *ngIf="ingredient(i).errors.required || ingredient(i).errors.minlength">
                      Ingredient must contain at least 1 characters
                    </div>
                    <div *ngIf="ingredient(i).errors.maxlength">
                      Ingredient must not be greater than 25 characters.
                    </div>
                  </div>
                  <label>Ingredient:</label>
                    <input
                    (blur)="ingredient(i).setValue(ingredient(i).value.trim());"
                    formControlName="ingredient"
                    type="text" >

                </div>
                <div class="post-amount">
                  <div *ngIf="amount(i).invalid && (amount(i).dirty || amount(i).touched)"
                      class="alert alert-danger">
                    <div *ngIf="amount(i).errors.required || amount(i).errors.minlength">
                      Amount  must contain at least 1 characters.
                    </div>
                    <div *ngIf="amount(i).errors.maxlength">
                      Amount must not be greater than 25 characters.
                    </div>
                  </div>
                  <label>Amount:</label>
                    <input
                    (blur)="amount(i).setValue(amount(i).value.trim());"
                    formControlName="amount"
                    type="text">

                </div>

              </div>

            </div>
            <button class="add-item" type="button" (click)="addIngredient()">Add Ingredient</button>
          </div>

        </div>
        <div formArrayName="directions">
          <h4>Directions</h4>
          <div id="directions">
            <div class="direction"
              *ngFor="let dir of directions.controls; let i=index">
              <div
                *ngIf="direction(i).invalid && (direction(i).dirty || direction(i).touched)"
                class="alert alert-danger">
                <div *ngIf="direction(i).errors.required || direction(i).errors.minlength">
                  Amount  must contain at least 2 characters.
                </div>
                <div *ngIf="direction(i).errors.maxlength">
                  Amount must not be greater than 25 characters.
                </div>
              </div>
              <textarea [formControlName]="i" type="text"
              (blur)="direction(i).setValue(direction(i).value.trim());"></textarea>
              <button class="delete-item" type="button" (click)="deleteDirection(i)">X</button>
            </div>
            <button class="add-item" type="button" (click)="addDirection()">Add Direction</button>
          </div>

        </div>
        <button type="submit" [disabled]="!postForm.valid">Submit</button>

  </form>

  <p>
  Form Status: {{ postForm.status }}
</p>

</div>
