<p>post works!</p>
<ul class="posts">
  <li *ngFor="let post of posts">
    <a routerLink="/posts/{{post.id}}">
      <span class="badge">{{post.id}}</span> {{post.email}}
    </a>
  </li>
</ul>

<div class="add-post">
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <label>
      Dish Name:
      <input type="text" formControlName="dishName" required>
    </label>
    <div formArrayName="ingredients">
      <h4>Ingredients</h4><button type="button" (click)="addIngredient()">Add Ingredient</button>
      <div *ngFor="let ing of ingredients.controls; let i=index">
        <div [formGroupName]="i">
          <label>Ingredient: <input formControlName="ingredient" type="text" ></label>
          <label>Amount: <input formControlName="amount" type="text" ></label>
        </div>
      </div>
    </div>
    <div formArrayName="directions">
      <h4>Directions</h4> <button type="button" (click)="addDirection()">Add Direction</button>
      <div *ngFor="let direction of directions.controls; let i=index">
        <input [formControlName]="i" type="text" >
      </div>
    </div>
        <button type="submit" [disabled]="!postForm.valid">Submit</button>

  </form>

  <p>
  Form Status: {{ postForm.status }}
</p>

</div>
<div id="iphone6">
  <div id="iphone6-screen">
    <div id="iphone6-recipe">
      <h2>{{ postForm.value.dishName }}</h2>
      <div *ngIf="postForm.value.ingredients" id="iphone6-ingredients">
        Ingredients
        <div *ngFor="let ing of postForm.value.ingredients " class="iphone6-ingredient">
          {{ing.ingredient}} - {{ing.amount}}
        </div>
      </div>
      <div *ngIf="postForm.value.directions" id="iphone6-directions">
        Directions
        <div *ngFor="let direction of postForm.value.directions " class="iphone6-girection">
          {{direction}}
        </div>
      </div>
    </div>
  </div>

</div>
