#edit-post {
  font-family: 'Gloria Hallelujah', cursive;
  #dish-name-label {
    margin: 0;
  }
  #dish-name-input {
    width:90%;
    text-align: center;
    font-size: 1.1em;
  }
  input {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: inherit;
    border: 0;
  }
}
