<div *ngIf="post" class="post">
  <a [routerLink]="['/posts',post.id,'edit']">Edit</a>
  <button class="delete" title="delete post"
   (click)="delete(post)">x</button>
  <div id="update-links">

 <router-outlet></router-outlet>
  </div>
  <div id="recipe">
    <div id="show-post">
      <p id="post-dish-name">{{post.dishName}}</p>
      <ul id="post-ingredients">
        <p>Ingredients</p>
        <li *ngFor="let ingredient of post.ingredients"
          class="post-ingredient">
          {{ingredient.ingredient}} - {{ingredient.amount}}
        </li>
      </ul>
      <ul id="post-directions">
        <p>Directions</p>
        <li *ngFor="let direction of post.directions"
          class="post-direction">
          {{direction}}
        </li>
      </ul>
    </div>
  </div>
</div>
