<div id="post-list-component">
  <ul id="post-list">
    <li *ngFor="let post of posts">
      <span>
        <a
          class="post"
          routerLink="/posts/{{post.id}}">
          {{post.dishName}}
        </a>
      </span>
      <span class="dash"> &ndash; </span>
      <span>{{post.userName}}</span>
    </li>
  </ul>



  <a routerLink="add">Add Recipe</a>

  <div id="post-child">
    <router-outlet ></router-outlet>
  </div>


  <div *ngIf="postForm && !mobile">
    <div id="iphone6">
      <div id="iphone6-screen">
        <app-iphone></app-iphone>

      </div>
    </div>
  </div>
</div>
