<div id="post-list-component">
  <ul id="post-list">
    <li *ngFor="let post of posts">

        <a
          class="post"
          routerLink="/posts/{{post.id}}"
          routerLinkActive="active">
          {{post.dishName}}
        </a>

    <span class="dash">  &ndash;</span>
        {{post.userName}}
        <img class="user-pic-span"
          [src]="post.userPicture"
          alt="User Picture">
    </li>
  </ul>

  <div id ="add-recipe">
    <a  routerLink="add"
      routerLinkActive="active">
      Add Recipe
    </a>
  </div>

  <div id="post-child">
    <router-outlet ></router-outlet>
  </div>


  <div *ngIf="postForm && !mobile">
    <app-iphone></app-iphone>
  </div>

</div>
