#post-list-component {
  ul#post-list{
    margin: 1em;
    li {
      margin: 1em 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .dash {
        margin: 0 .5em;
      }
      a.post{
        color: black;
      }
    }
  }
  #iphone6 {
    width: 350px;
    height:700px;
    background-image: url('../../../assets/images/iphone6.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    position: relative;

    #iphone6-screen{
      position: absolute;
      text-align: center;
      width: 298px;
      height: 530px;
      top:86px;
      left:22px;
    }
  }
}
