<section id="technologies">
  <h2>Technologies</h2>
  <ul>
    <li><a href="https://angular.io/cli" target="_blank">Angular CLI</a> version 8.3.8.</li>
    <li>
      Angular's <a href="https://github.com/angular/in-memory-web-api">InMemoryDataService</a> to mimic communication with a remote data server.
    </li>
    <li><a href="https://auth0.com/" target="_blank">Auth0</a> for user authentication.</li>
  </ul>
</section>
<section>
  <h2>How to Use</h2>
  <ul>
    <li>Logging in will allow the user to add a recipe to the list of recipes.</li>
    <li>By clicking ''Posts'', on the top Nav bar, you will be navigated to a list of posts/recipes previously created.</li>
    <li>You can then click on an individual recipe to see how the recipe will look on a mobile phone.</li>
    <li>The user can also have the option to edit or delete the post if they're the author of the post. Mobile phone will be displayed while editing post to see how updated post will look in mobile view.</li>
  </ul>
</section>
